# =========================
# .NET
# =========================
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo

# =========================
# ASP.NET
# =========================
**/logs/
**/wwwroot/uploads/

# =========================
# Environment / Secrets
# =========================
**/appsettings.Production.json
**/.env
**/.env.*
!**/.env.example

# =========================
# React / Node
# =========================
**/node_modules/
**/dist/
**/dist-ssr/

# =========================
# Meilisearch
# =========================
meilisearch.exe
data.ms/
dumps/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log